@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: bokis;
  src: url(../font/Riccione-Serial-Light-RegularItalic.ttf);
}
@font-face {
  font-family: thunder;
  src: url(../font/Thunder-BoldLCItalic.otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: poppins;

}

.main{
  position: relative;
  overflow: hidden;
  background-color: #fdfaf7;
 
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2vw 4vw;


  nav{
    
    a{
      text-decoration: none;
      margin: 0 0.7vw;
      color: #000000;
      font-family: poppins;
      font-weight: 500;
    }
  }
  
}



.home-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.2vw 4vw;
  .home-pasag{
    text-transform: lowercase;
    font-size: 1.2vw;
    font-family: poppins;
    font-weight: 500;
    color: #40423c;

  }
  .gradient-left{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
    height: 50vw;
    opacity: 0.5;
  }
    .gradient-right{
    position: absolute;
    top: -5vw;
    right: 0;
    width: 50%;
    height: 60vw;
    z-index: -1;
  }
  .all-home-content{
    text-align: center;
    padding: 4.5vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-h1{
  font-family: poppins;
  letter-spacing: 0.2vw;
  font-size: 5vw;
  font-weight: 700;
  letter-spacing: 0vw;
  width: 90%;
  line-height: 5vw;
  .style-text{
    font-family: poppins;
    font-weight: 300;
    font-style: italic;
  }
}
.home-small-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw 0;
  p{
    color: #000000;
    font-weight: 700;
    margin: 0 0 0 0.5vw;
    .review-text{
      font-weight: 600;
      color: #40423c;
    }
  }
  
  .first-box-home{

    display: flex;
    justify-content: center;
    align-items: center;
    button{
      background-color: #262726;
      font-size: 1.2vw;
      padding: 1vw 2.3vw;
      border-radius: 10vw;
      outline: none;
      border: none;
      font-weight: 500;
      font-family: poppins;
      color: #fdfaf7;
      cursor: pointer;
    }
   
    .ri-arrow-right-up-line{
       background-color: #BFF747;
       border-radius: 10vw;
      font-size: 2.5vw;
      padding: 0.5vw;
      margin: 0 0 0 1vw;
    }
  }
}
.three-home-box{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: center;
align-items: center;
.one-box{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3vw 0;
  
  p{
  
    font-size: 1vw;
    width: 50%;
  }
}
}
.main-home-images{
  height: 25vw;
   border-radius: 1vw;
}
.company-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.first-details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1vw 0;
 
  h2{
    font-family: bokis;
    font-size: 5vw;
    font-weight: 400;
    text-align: center;
  }
  p{
    font-family: poppins;

    width: 80%;
    font-size: 1vw;
  }
}
}

// about section css start here
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 1.2vw 4vw;

  .about-images {
   
    width: 40vw;
    max-width: 500px;
    position: relative;

    .rotate-images {
  position: absolute;
  top: 0vw;
  right: 0;
  width: 9vw;
  height: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .green-images {
    position: absolute;
    width: 100%;
    height: auto;
  }

  .rotate-text {
    width: 90%;
    height: 100%;
    animation: spin 10s linear infinite;
    transform-origin: center center;

    text {
      font-family: sans-serif;
      letter-spacing: 2px;
    }
  }
}
textPath{
  color: #000000;
  font-weight: 700;
  font-size: 1.2vw;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


    .about-first-img {
      border-radius: 2vw;
      width: 100%;
      height: auto;

      mask-image: url('../images/about-us-image-mask.svg');
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: center;

      -webkit-mask-image: url('../images/about-us-image-mask.svg');
      -webkit-mask-size: cover;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }
  }
}

.about-text{

  width: 50%;

  .about-h2-text{
    font-size: 2.8vw;
    width: 90%;
    
  }
    .about-desc{
      font-family: poppins;
      font-family: 1vw;
      
    }
    ul{
      padding: 1vw 0;
      position: relative;
    }
  li{
    list-style-type:none;
    position: relative;
    margin: 1vw 0 0 2vw;
    
    }
    li::after{
      position: absolute;
      content: "";
      height: 1vw;
      width: 1vw;
      background-color: #000000;
      top: 0.4vw;
      left: -2vw;
      border-radius: 10vw;
    }
}

.about-btn-part{
  display: flex;
  justify-content:start;
  align-items: center;
  .about-btn{
     background-color: #262726;
      font-size: 1.2vw;
      padding: 1vw 3vw;
      border-radius: 10vw;
      outline: none;
      border: none;
      font-weight: 500;
      font-family: poppins;
      color: #fdfaf7;
      cursor: pointer;
  }
  .ri-arrow-right-up-line{
     background-color: #BFF747;
       border-radius: 10vw;
      font-size: 2.5vw;
      padding: 0.5vw;
      margin-left: 0.5vw;
  }
}


// services section
.services-section{
  background-color: #000000;
  padding: 1vw 4vw;
  position: relative;
  .gradient-right-services{
   position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 80vw;
    opacity: 0.9;
    
  }

  .services-title-description{

padding: 2vw 0;
display: flex;
justify-content: space-between;
.services-title{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width: 50%;

  .services-name{
    color: #fff;
    font-size: 1.8vw;
    font-family: poppins;
  }
  .services-text{
    color: #fff;
    font-size: 3vw;
    line-height: 3.2vw;
  }
}

  }
  .description-and-button{

 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width: 50%;
 p{
  color: #fff;
 }
 .button-with-arrow{
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: center;
  padding: 0.2vw 0;
  button{
    background-color: #262726;
      font-size: 1.2vw;
      padding: 1vw 3vw;
      border-radius: 10vw;
      outline: none;
      border: none;
      font-weight: 500;
      font-family: poppins;
      color: #fdfaf7;
      cursor: pointer;
      z-index: 1;
      
  }
  .ri-arrow-right-up-line{
     background-color: #BFF747;
       border-radius: 10vw;
      font-size: 2.5vw;
      padding: 0.5vw;
      margin: 0 0 0 1vw;
  }
 }
  }
}

.main-services{
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vw;
    width: 100%;
    padding: 1vw 0;
    h1{
    font-size: 1.4vw;
    padding: 1vw 0;
    font-family: poppins;
    color: #E3F0FF;
}
p{
    font-family: poppins;
    color: #fdfaf7;
    font-size:1vw;
    padding: 0.5vw;
    margin: 0.5vw 0;
    border-radius: 0.3vw;
    background: linear-gradient(270deg, transparent, #40423c);
    position: relative;
}
// p::after{
//     content: "";
//     position: absolute;
//     top:0.9vw;
//     border-radius: 50%;
//     left: -0.9vw;
//     height: 0.5vw;
//     width: 0.5vw;
//     background-color: rgb(128, 255, 0);
// }
svg{
    
    height: 3.5vw;
    width: 100%;
}
.small{
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    text-align: start;
}
}
.services-box{
    width: 30%;
    background-color: #1B1B1B;
    padding: 2vw 2vw ;
    border-radius: 1vw;
    box-shadow: 0 4px 23px 0 rgba(174, 191, 210, 0.3);
    clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
}

//pricing-section

.pricing-section{
  background-color: #000000;
 padding: 2vw 0;
  .price-first-box{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding: 0 4vw;
    p{
      color: #fff;
      font-size: 1.5vw;
      text-transform: capitalize;
    }
    .price-title{
      color: #fff;
      font-size: 3vw;
      width: 60%;
      line-height: 3.4vw;
    }
    .price-description{
      font-size: 1.1vw;
      width: 60%;
      margin: 1vw 0;
    }
  }
.all-price{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  padding: 2vw 4vw;
 
  .all-price-list{
    padding: 1vw 1.5vw;
    
    background: rgba(85, 91, 68, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
// border: 1px solid rgba(41, 39, 39, 0.3);
 hr{
 opacity: 0.3;
  }
.main-price-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw 0;
}
button{
   background-color: #BFF747;
      font-size: 1.2vw;
      padding: 1vw 3vw;
      border-radius: 10vw;
      width: 100%;
      outline: none;
      border: none;
      font-weight: 500;
      font-family: poppins;
      color: #000000;
      cursor: pointer;
}
  }
.plan-name{
  color: #BFF747;
  padding: 1.5vw 0;
  font-size: 1.6vw;
}
.box-for-circle-and-text{
  .circle-and-text{
    display: flex;
    justify-content:start;
    align-items: center;
    margin: 1.5vw 0;
    .ri-checkbox-circle-line{
      color: #BFF747;
      font-size: 1.4vw;
      
    }
    li{
      color: #fff;
      list-style-type: none;
      margin: 0 0.5vw;
      font-size: 1.1vw;
      
    }
  }

}
  .rate{
   
    h4{
      color: #BFF747;
      font-size: 3vw;
      margin: 1vw 0;
      span{
        color: #b1b1b1;
        font-size: 1vw;
      }
    }
    p{
      color: #fff;
      font-size: 1vw;
    }
  }
}

}
// testimonials css  
.testimonials{
  background-color: #000000;
  padding: 3vw 4vw;
  
  .testimonials-first-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .first-inner-box{
      width: 50%;
      p{
        color:#BFF747;
        font-size: 2vw;
        letter-spacing: -0.15vw;
        text-transform: capitalize;
        
      }
      h1{
        color: #fff;
        font-size: 2.7vw;
        
      }
    }
    .second-inner-box{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      p{
        color: #fff;
        font-size: 1vw;
      }
      .testimonials-button{
        display: flex;
        justify-content: start;
        align-items: center;
        z-index: 1;
        button{
      background-color: #262726;
      font-size: 1.2vw;
      padding: 1vw 3vw;
      border-radius: 10vw;
      outline: none;
      border: none;
      font-weight: 500;
      font-family: poppins;
      color: #fdfaf7;
      cursor: pointer;
    }
   
    .ri-arrow-right-up-line{
       background-color: #BFF747;
       border-radius: 10vw;
      font-size: 2.5vw;
      padding: 0.5vw;
      margin: 0 0 0 1vw;
    }
      }
    }
  }
  .testimonials-second-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    padding: 2.5vw 0;
    .right-box{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      height: 23vw;
      padding: 4vw;
background: rgba(41, 39, 39, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(41, 39, 39, 0.3);
      border-radius: 1vw;
      img{
        width: 100%;
        height: 60%;
        border-radius: 1vw;
        object-fit: cover;
   
      }
      .img-text-review{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100%;
        p{
          color: #fff;
          font-size: 2vw;
          margin: 1vw 0 0 0;
          font-weight: 600;
          
        }
        .review-star{
          display: flex;
          text-align: center;
          justify-content: center;
          .ri-gemini-fill{
            color: #BFF747;
            font-size: 1.5vw;
          }
        }
      }
    }

 .swiper {
      width: 50%;
       /* From https://css.glass */
background: rgba(41, 39, 39, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(41, 39, 39, 0.3);
      border-radius: 1vw;
      height: 23vw;
    margin-right: 0;
      
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2vw 4vw;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .star{
      padding: 2.5vw 0;
      .ri-gemini-fill{
        color: #BFF747;
        font-size: 1.5vw;
        
      }
    }
    .text-for-testimonials{
      text-align: center;
      font-size: 1.1vw;
      h2{
        color: #cccccc;
        margin-top:1vw ;
      }
      p{
        color: #fff;
        text-align: center;
        
      }
    }

    .review-button{
      padding: 2.5vw 0;
      .ri-radio-button-fill{
      color: #BFF747;
      cursor: pointer;
    }
    }
  }
  }



// lets connect page
.lets-connect-page{
  background-color: #000000;
  padding: 3vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  .connect-span{
    color: #fff;
    font-size: 2vw;
    font-family: poppins;
  }
  .connect-h1{
    font-size: 10vw;
    text-transform: uppercase;
    color: #fff;
    line-height: 13vw;
    
  }
  .connect-button{
    
    font-size: 1vw;
    background-color: #BFF747;
    padding: 1vw 1.7vw;
  width: 20%;
    font-weight: 600;
    border-radius: 2vw;
   
    align-items: center;
    border: 0.2vw solid #ffffff;
    outline: none;
    font-family: poppins;
    cursor: pointer;
    
    
  }
 
}


// footer css start 
footer{
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 3vw 4vw;
  
  .about-footer{
    z-index: 1;
    h3{
      color: #fff;
      margin: 0 0 0.5vw 0;
      font-size: 1.2vw;
    }
    p{
      color: #cccccc;
      font-size: 1vw;
    }
  }
  .usefullinks{
    z-index: 1;
    display: flex;
    flex-direction: column;
    h3{
      color: #fff;
      font-size: 1.2vw;
      margin: 0 0 0.5vw 0;
    }
    a{
      text-decoration: none;
      color: #cccccc;
      font-size: 1vw;
      margin: 0.4vw 0vw;
    }
  }
  .category{
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
    h3{
      color: #fff;
      margin: 0 0 0.5vw 0;
    }
    a{
      text-decoration: none;
      color: #cccccc;
      margin: 0.4vw 0vw;
      font-size: 1vw;
    }
  }
  .newsletter{
    z-index: 1;
    h3{
      color: #fff;
      margin: 0 0 0.5vw 0;
      font-size: 1.2vw;
    }
    p{
      color: #cccccc;
      font-size: 1vw;
    }
    .newsletter-box{
      padding: 0.8vw 0;
      input{
        color: red;
        padding: 0.8vw 1.5vw;
        font-family: poppins;
        border: none;
        outline: none;
        font-size: 0.9vw;
      }
      .newsletter-btn{
        padding: 0.8vw;
        outline: none;
        border: none;
        outline: none;
        font-family: poppins;
        background-color: #BFF747;
        font-size: 0.9vw;
        cursor: pointer;
      }
    }
  }

}

@media only screen and (max-width:768px){
footer{
  grid-template-columns: 1fr 1fr;
}
}

@media only screen and (max-width: 600px) {
  footer{
  grid-template-columns: 1fr;
}
}

@media only screen and (max-width:768px){
  .services-section{
    flex-direction: rows;
  }
  .main-services{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .services-box{
    width: 90%;
  }
}

@media only screen and (max-width:600px){
  .services-section{
    flex-direction: rows;
  }
  .main-services{
    display: grid;
    grid-template-columns: 1fr;
  }
  .services-box{
    width: 100%;

    svg{
      height: 100px;
    }
h1{
  font-size: 24px;
  
}
    p{
      font-size: 16px;
    }
  }
}