@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: bokis;
  src: url(../font/Riccione-Serial-Light-RegularItalic.ttf);
}
@font-face {
  font-family: thunder;
  src: url(../font/Thunder-BoldLCItalic.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: poppins;
}

.main {
  position: relative;
  overflow: hidden;
  background-color: #fdfaf7;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2vw 4vw;
}
header nav a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: #000000;
  font-family: poppins;
}
header .social-medi-link .ri-instagram-line {
  font-size: 1.6vw;
  cursor: pointer;
}
header .social-medi-link .ri-whatsapp-line {
  font-size: 1.6vw;
  padding: 0.5vw;
  border-radius: 0.5vw;
  cursor: pointer;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.2vw 4vw;
}
.home-section .home-pasag {
  text-transform: lowercase;
  font-size: 1.2vw;
}
.home-section .gradient-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  height: 50vw;
  opacity: 0.5;
}
.home-section .gradient-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 60vw;
}
.home-section .all-home-content {
  text-align: center;
  padding: 4.5vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-section .home-h1 {
  font-family: poppins;
  letter-spacing: 0.2vw;
  font-size: 4vw;
  font-weight: 600;
  letter-spacing: 0vw;
  width: 70%;
  line-height: 5vw;
}
.home-section .home-h1 .style-text {
  font-family: bokis;
  font-weight: 200;
}
.home-section .home-small-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw 0;
}
.home-section .home-small-box .first-box-home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section .home-small-box .first-box-home button {
  background-color: #262726;
  font-size: 1.2vw;
  padding: 1vw 3vw;
  border-radius: 10vw;
  outline: none;
  border: none;
  font-weight: 500;
  font-family: poppins;
  color: #fdfaf7;
  cursor: pointer;
}
.home-section .home-small-box .first-box-home .ri-arrow-right-up-line {
  background-color: #BFF747;
  border-radius: 10vw;
  font-size: 2.5vw;
  padding: 0.6vw;
}
.home-section .three-home-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.home-section .three-home-box .one-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3vw 0;
}
.home-section .three-home-box .one-box svg {
  margin: 0 0 4vw 0;
}
.home-section .three-home-box .one-box p {
  font-size: 1vw;
  width: 50%;
}
.home-section .main-home-images {
  height: 30vw;
}
.home-section .company-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-section .first-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1vw 0;
}
.home-section .first-details h2 {
  font-family: bokis;
  font-size: 5vw;
  font-weight: 400;
  text-align: center;
}
.home-section .first-details p {
  font-family: poppins;
  width: 80%;
  font-size: 1vw;
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2vw 4vw;
}
.about-section .about-images {
  width: 40vw;
  max-width: 500px;
  position: relative;
}
.about-section .about-images .rotate-images {
  position: absolute;
  top: 0vw;
  right: 0;
  width: 9vw;
  height: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section .about-images .rotate-images .green-images {
  position: absolute;
  width: 100%;
  height: auto;
}
.about-section .about-images .rotate-images .rotate-text {
  width: 90%;
  height: 100%;
  animation: spin 10s linear infinite;
  transform-origin: center center;
}
.about-section .about-images .rotate-images .rotate-text text {
  font-family: sans-serif;
  letter-spacing: 2px;
}
.about-section .about-images textPath {
  color: #000000;
  font-weight: 700;
  font-size: 1.2vw;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about-section .about-images .about-first-img {
  border-radius: 2vw;
  width: 100%;
  height: auto;
  mask-image: url("../images/about-us-image-mask.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("../images/about-us-image-mask.svg");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.about-text {
  width: 50%;
}
.about-text .about-h2-text {
  font-size: 2.8vw;
  width: 90%;
}
.about-text .about-desc {
  font-family: poppins;
  font-family: 1vw;
}
.about-text ul {
  padding: 1vw 0;
  position: relative;
}
.about-text li {
  list-style-type: none;
  position: relative;
  margin: 1vw 0 0 2vw;
}
.about-text li::after {
  position: absolute;
  content: "";
  height: 1vw;
  width: 1vw;
  background-color: #4c00ff;
  top: 0.4vw;
  left: -2vw;
  border-radius: 10vw;
}

.about-btn-part {
  display: flex;
  justify-content: start;
  align-items: center;
}
.about-btn-part .about-btn {
  background-color: #262726;
  font-size: 1.2vw;
  padding: 1vw 3vw;
  border-radius: 10vw;
  outline: none;
  border: none;
  font-weight: 500;
  font-family: poppins;
  color: #fdfaf7;
  cursor: pointer;
}
.about-btn-part .ri-arrow-right-up-line {
  background-color: #BFF747;
  border-radius: 10vw;
  font-size: 2.5vw;
  padding: 0.6vw;
}

.services-section {
  background-color: #000000;
  padding: 1vw 4vw;
  position: relative;
}
.services-section .gradient-right-services {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 80vw;
  opacity: 0.9;
}
.services-section .services-title-description {
  padding: 2vw 0;
  display: flex;
  justify-content: space-between;
}
.services-section .services-title-description .services-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-section .services-title-description .services-title .services-name {
  color: #fff;
  font-size: 1vw;
  font-family: poppins;
}
.services-section .services-title-description .services-title .services-text {
  color: #fff;
  font-size: 3vw;
  line-height: 3.2vw;
}
.services-section .description-and-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-section .description-and-button p {
  color: #fff;
}
.services-section .description-and-button .button-with-arrow {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: center;
  padding: 0.2vw 0;
}
.services-section .description-and-button .button-with-arrow button {
  background-color: #262726;
  font-size: 1.2vw;
  padding: 1vw 3vw;
  border-radius: 10vw;
  outline: none;
  border: none;
  font-weight: 500;
  font-family: poppins;
  color: #fdfaf7;
  cursor: pointer;
  z-index: 1;
}
.services-section .description-and-button .button-with-arrow .ri-arrow-right-up-line {
  background-color: #BFF747;
  border-radius: 10vw;
  font-size: 2.5vw;
  padding: 0.6vw;
}

.main-services {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
  width: 100%;
  padding: 1vw 0;
}
.main-services h1 {
  font-size: 1.4vw;
  padding: 1vw 0;
  font-family: poppins;
  color: #E3F0FF;
}
.main-services p {
  font-family: poppins;
  color: #fdfaf7;
  font-size: 0.9vw;
  padding: 0.5vw;
  margin: 0.5vw 0;
  border-radius: 0.3vw;
  background: linear-gradient(270deg, transparent, #40423c);
  position: relative;
}
.main-services svg {
  height: 3.5vw;
  width: 100%;
}
.main-services .small {
  width: 20%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  text-align: start;
}

.services-box {
  width: 30%;
  background-color: #1B1B1B;
  padding: 2vw 2vw;
  border-radius: 1vw;
  box-shadow: 0 4px 23px 0 rgba(174, 191, 210, 0.3);
  clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
}

.testimonials {
  background-color: #000000;
  padding: 1.2vw 4vw;
}
.testimonials .testimonials-first-box {
  display: flex;
  justify-content: space-between;
}
.testimonials .testimonials-first-box .first-inner-box p {
  color: #BFF747;
  font-size: 1vw;
}
.testimonials .testimonials-first-box .first-inner-box h1 {
  color: #fff;
  font-size: 3vw;
}
.testimonials .testimonials-first-box .second-inner-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials .testimonials-first-box .second-inner-box p {
  color: #fff;
  font-size: 1vw;
}
.testimonials .testimonials-first-box .second-inner-box .testimonials-button {
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1;
}
.testimonials .testimonials-first-box .second-inner-box .testimonials-button button {
  background-color: #262726;
  font-size: 1.2vw;
  padding: 1vw 3vw;
  border-radius: 10vw;
  outline: none;
  border: none;
  font-weight: 500;
  font-family: poppins;
  color: #fdfaf7;
  cursor: pointer;
}
.testimonials .testimonials-first-box .second-inner-box .testimonials-button .ri-arrow-right-up-line {
  background-color: #BFF747;
  border-radius: 10vw;
  font-size: 2.5vw;
  padding: 0.6vw;
}
.testimonials .testimonials-second-box {
  display: flex;
}
.testimonials .testimonials-second-box .right-box img {
  height: 30vw;
}
.testimonials .testimonials-second-box .all-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4vw;
}
.testimonials .testimonials-second-box .all-testimonials .star {
  padding: 2.5vw 0;
}
.testimonials .testimonials-second-box .all-testimonials .star .ri-gemini-fill {
  color: #BFF747;
  font-size: 1.5vw;
}
.testimonials .testimonials-second-box .all-testimonials .text-for-testimonials p {
  color: #fff;
  text-align: center;
}
.testimonials .testimonials-second-box .all-testimonials .review-button {
  padding: 2.5vw 0;
}
.testimonials .testimonials-second-box .all-testimonials .review-button .ri-radio-button-fill {
  color: #BFF747;
  cursor: pointer;
}

.lets-connect-page {
  background-color: #000000;
  padding: 3vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}
.lets-connect-page .connect-span {
  color: #fff;
  font-size: 2vw;
  z-index: 1;
  font-family: poppins;
}
.lets-connect-page .connect-h1 {
  font-size: 10vw;
  text-transform: uppercase;
  color: #fff;
  line-height: 13vw;
  z-index: 1;
}
.lets-connect-page .connect-button {
  position: absolute;
  top: 13vw;
  left: 45vw;
  font-size: 1vw;
  background-color: #BFF747;
  padding: 4vw 1.7vw;
  font-weight: 600;
  border-radius: 100%;
  border: 0.2vw solid #ffffff;
  outline: none;
  font-family: poppins;
  cursor: pointer;
  z-index: 1;
}
.lets-connect-page .left-gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 50vw;
  width: 100%;
  opacity: 0.5;
}

footer {
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 3vw 4vw;
}
footer .about-footer {
  z-index: 1;
}
footer .about-footer h3 {
  color: #fff;
  margin: 0 0 0.5vw 0;
  font-size: 1.2vw;
}
footer .about-footer p {
  color: #cccccc;
  font-size: 1vw;
}
footer .usefullinks {
  z-index: 1;
  display: flex;
  flex-direction: column;
}
footer .usefullinks h3 {
  color: #fff;
  font-size: 1.2vw;
  margin: 0 0 0.5vw 0;
}
footer .usefullinks a {
  text-decoration: none;
  color: #cccccc;
  font-size: 1vw;
  margin: 0.4vw 0vw;
}
footer .category {
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
}
footer .category h3 {
  color: #fff;
  margin: 0 0 0.5vw 0;
}
footer .category a {
  text-decoration: none;
  color: #cccccc;
  margin: 0.4vw 0vw;
  font-size: 1vw;
}
footer .newsletter {
  z-index: 1;
}
footer .newsletter h3 {
  color: #fff;
  margin: 0 0 0.5vw 0;
  font-size: 1.2vw;
}
footer .newsletter p {
  color: #cccccc;
  font-size: 1vw;
}
footer .newsletter .newsletter-box {
  padding: 0.8vw 0;
}
footer .newsletter .newsletter-box input {
  color: red;
  padding: 0.8vw 1.5vw;
  font-family: poppins;
  border: none;
  outline: none;
  font-size: 0.9vw;
}
footer .newsletter .newsletter-box .newsletter-btn {
  padding: 0.8vw;
  outline: none;
  border: none;
  outline: none;
  font-family: poppins;
  background-color: #BFF747;
  font-size: 0.9vw;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  footer {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */